/* You can add global styles to this file, and also import other style files */
.container{
    display: grid;
    grid-template-columns: 50% auto;
}

.col{
    padding: .4em 1.3em;

}

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body{
    background: #2E9CE6;
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color: #fff;
    align-items: center;
    align-content: center;
    align-self: center;
}

.gameBoard{
    background-color: rgb(27, 168, 121);
    align-self: center;
}

.cell{
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
}
